*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background: #577D86;
}

.sintomas{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
    width: 500px;
}
.contenedor_sintomas{
    background: #87CBB9;
}
.reporte{
    background: #B9EDDD;
}
.diagnostico{
    display: flex;

}