{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/estilos.css">
    <title>JRMedic</title>
</head>
<body>
    <section class="titulo">
        <h2>Diagnostico de enfemedades</h2>
    </section>
    <section class="diagnostico">
        <section class="contenedor_sintomas">
            <h3>¿Que sintomas presenta el paciente?</h3>
            <form class="form-sintomas" method="post"> {% csrf_token %}
                <div class="sintomas">
                    <label>
                        <input type="checkbox" name="s1" >
                        (S1) Fiebre
                    </label>
                    <label>
                        <input type="checkbox" name="s2" >
                        (S2) Dolor de cabeza
                    </label>
                    <label>
                        <input type="checkbox" name="s3" >
                        (S3) Tos
                    </label>
                    <label>
                        <input type="checkbox" name="s4" >
                        (S4) Dolor muscular
                    </label>
                    <label >
                        <input type="checkbox" name="s5" >
                        (S5) Fatiga
                    </label>
                    <label>
                        <input type="checkbox" name = "s6" >
                        (S6) Congestión nasal
                    </label>
                    <label>
                        <input type="checkbox" name = "s7" >
                        (S7) Dolor de garganta
                    </label>
                    <label>
                        <input type="checkbox" name = "s8" >
                        (S8) Dolor de pecho
                    </label>
                    <label>
                        <input type="checkbox" name = "s9" >
                        (S9) Sudoración
                    </label>
                    <label>
                        <input type="checkbox" name = "s10" >
                        (S10) Dolor abdominal
                    </label>
                    <label>
                        <input type="checkbox" name = "s11" id="s11">
                        (S11) Diarrea
                    </label>
                    <label>
                        <input type="checkbox" name = "s12">
                        (S12) Perdida de peso
                    </label>
                    <label>
                        <input type="checkbox" name = "s13" >
                        (S13) Sed excesiva
                    </label>
                    <label>
                        <input type="checkbox" name = "s14" >
                        (S14) Micción frecuente
                    </label>
                    <label>
                        <input type="checkbox" name = "s15" >
                        (S15) Visión borrosa
                    </label>
                    <label>
                        <input type="checkbox" name = "s16" >
                        (S16) Anemia
                    </label>
                    <label>
                        <input type="checkbox" name = "s17" >
                        (S17) DErupción cutánea
                    </label>
                    <label>
                        <input type="checkbox" name = "s18" >
                        (S18) DPicazón
                    </label>
                    <label>
                        <input type="checkbox" name = "s19" >
                        (S19) DHeridas que tardan de sanar
                    </label>
                    <label>
                        <input type="checkbox" name = "s20" >
                        (S20) DSangrado rectal
                    </label>
                </div>
                <input class="btn" type="submit" value="diagnosticar enfermedad" id="">
            </form>
        </section>
        <section class="reporte">
            <h3>Reporte de diagnostico</h3>
            <p>Sintomas que presenta el paciente</p>
            <ul>
                {% for sintoma in sintomas %}
                    <li>{{ sintoma }}</li>
                {% endfor %}
            </ul>
            <br>
            <p>Enfermedad que tiene el paciente:{{diagnostico}} </p>
            <!--<p>Enfermedad que tiene el paciente: </p>
            <ul>
                {% for enfermedad in diagnostico %}
                    <li>enfermedad</li>
                {% endfor %}
            </ul>-->
        </section>
    </section>
</body>
</html>